[Desktop Entry]
Encoding=utf-8
Name=nautilus-renamer
Version=0.0.5.0
Comment=A file renamer
Comment[es]=Renombrador de archivos
GenericName=nautilus-renamer
Terminal=false
Icon=edit-find-replace
Type=Application
Exec=python /usr/share/nautilus-python/extensions/nautilus-renamer.py
Categories=GNOME;GTK;Application;Utils;
